
.cardBody {
    background-color:hsl(216, 50%, 16%);
    padding: 24px;
    border-radius:15px;
    width:350px;
    text-decoration: none;
    
    &:hover {
        .overlay {
            visibility: visible;
        }
    }
    @media (max-width: 398px) {
        width:327px;
    }
}

