.detailsSection {
    display:flex;
    justify-content: space-between;
    font-size:16px;
}
.coinSection {
    display:flex;
    color: hsl(178, 100%, 50%);
}

.coinDetails{
    margin-left:6px;
}

.dateSection {
    display:flex;
    color: hsl(215, 51%, 70%);
}

.daysLeft {
    margin-left:9px;
}

.icon {
    object-fit: contain;
}
