.App {
  text-align: center;
  background-color:hsl(217, 54%, 11%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: hsl(0, 0%, 100%)
}


